@import "tailwindcss";

@theme {
  --color-wvs-bg: #1e1e2e;
  --color-wvs-panel: #282a36;
  --color-wvs-text: #f8f8f2;
  --color-wvs-accent: #ffb86c;
  --color-wvs-danger: #ff5555;
  --color-wvs-success: #50fa7b;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-wvs-bg);
  color: var(--color-wvs-text);
}
